.my-course, .market-course {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: calc(100vh - 300px);
    overflow-y: scroll;
    .ant-card {
        margin: 10px;
        .ant-card-meta-title {
            height: 25px;
        }
        .ant-card-meta-description {
            height: 70px;
            text-overflow: ellipsis;
        }
        &:hover {
            background-color: greenyellow;
            border: 20px;
        }
    } 
}

.form-create-course {
    display: flex;
    flex-direction: column;
    .header {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 32px;
    }
    .list-lesson {
        .btn-add-lesson {
            flex-direction: row-reverse ;
        }
    }
    .btn-add-course {
        text-align: center;
        .ant-btn {
            width: 300px;
            height: 70px;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: bold;
        }
    }
}

.course-detail {
    display: flex;
    flex-direction: column;

    .course-header {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 20px;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: bold;
    }
    .watch-lesson {
        display: flex;
        justify-content: center;
    }
    .course-content {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        .course-content-letf {
            display: flex;
            flex: 1;
            flex-direction: column;
            .lesson-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 0 20px;
                margin: 5px 2px;   
                background-color: ghostwhite;
                height: 40px;
                width: 100%;
                border-radius: 5px;
                &:hover, &.is-watching {
                    background-color: gainsboro;
                    font-size: larger;
                    cursor: pointer;
                }
            }
        }
        .course-course-right {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 30px;
            .ant-btn {
                background-color: olivedrab;
                width: 200px;
                height: 50px;
                color: whitesmoke;
                font-size: 24px;
                text-transform: uppercase;
                margin: auto;
            }
        }
    }
}